$primary-color: #f4e6d8;
$secondary-color: #ffd5b1;
$light-txt-color: #eeeeee;
$dark-txt-color: #15403d;
$highlight-txt-color: #e5745d;

$primary-font: "Syne", Helvetica, Arial, sans-serif;
$secondary-font: "Syne Extra", Helvetica, Arial, sans-serif;

body {
  font-family: $primary-font;
  font-size: 32px;
  line-height: 1.25;

  background-color: $primary-color;
  color: $dark-txt-color;

  max-width: 1120px;
  margin: 240px auto;

  transition: background-color 800ms ease;
}

h2 {
  margin-bottom: 15px;
}

p {
  font-family: $secondary-font;
  color: $highlight-txt-color;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  text-align: center;
  z-index: 99;

  img {
    width: 136px;
    transition: width 500ms ease;
  }

  &.scrolled {
    img {
      width: 64px;
    }
  }
}

section {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .copy {
    margin-left: 40px;
  }

  img {
    position: relative;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .copy {
      margin-right: 40px;
    }
  }
}
