@font-face {
<<<<<<< HEAD
  font-family: "Syne";
  src: url(../fonts/syne-regular.woff2), url(fonts/syne-regular.woff);
}

@font-face {
  font-family: "Syne Extra";
  src: url(../fonts/syne-extra.woff2), url(fonts/syne-extra.woff);
=======
  font-family: "Jost";
  src: url(../fonts/jost-book.woff2), url(../fonts/jost-book.woff);
>>>>>>> 3ccb4f6fa292295b03b219be09849afd84078658
}
